@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Ubuntu:wght@400;500&display=swap');

html {
}

body {
    background: #f5f5f5;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

main {
    position: relative;
    overflow: hidden;
}

header {
    box-sizing: border-box;
    max-width: 270px;
    min-width: 270px;
    height: 100%;
    padding: 90px 0px;
    background: #fff;
    h1 {
        margin-bottom: 40px;
        font-weight: 600;
        font-family: 'Pacifico', cursive;
    }
    a {
        display: block;
        font-size: 18px;
        line-height: 35px;
        padding: 0 30px;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
    }
    span {
        display: block;
        width: 100%;
    }
    svg {
        width: 160px;
        height: 160px;
    }
    nav {
        padding: 0 60px 0 30px;
    }
}

.container {
    display: flex;
    overflow-x: hidden;
    max-width: 100vw;
    height: 100vh;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    border-bottom: 5px solid #000;
    padding: 0;
    margin: 0;
    line-height: 49px;
    font-size: 13px;
    opacity: 0.3;
    &:first-child {
        margin-top: -5px;
        border-top: 5px solid #000; 
    }
}

.menu-item-active {
    margin-top: -5px;
    border-top: 5px solid #000;
    opacity: 1;
}

.show-tutorial-btn {
    width: 50px;
    height: 50px;
    border: none;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
}

.result {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.result-logo-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-logo {
    max-width: 512px;
    max-height: 512px;
    width: 100%;
    height: 100%;
}

.stages {
    position: relative;
    box-sizing: border-box;
    max-width: 260px;
    min-width: 260px;
    padding: 90px 50px;
    background: #fff;
    transition: margin 0.45s;
}

.stages-on-popup-active {
    margin-left: 200px;
}

.stages-title {
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 0 40px 0;
}

.stages-slider {
    width: 170px;
    overflow: hidden;
}

.stages-slides-wrapper {
    display: flex;
}

.stages-slide {
    display: none;
    min-width: 170px;
}

.stages-slide-active {
    display: block;
}

.stages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.stages-item {
    width: 75px;
    height: 75px;
    padding: 0;
    margin-right: 10px;
    margin-bottom: 5px;
}

.stages-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #d8d8d8;
    border: none;
    transition: 0.3s;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    svg {
        width: 100%;
        height: 100%;
    }
    &:hover {
        background: #000;
    }
    &:focus {
        background: #000;
    }
}

.stages-btn-active {
    background: #000;
}

.next-btn {
    display: block;
    position: absolute;
    right: calc((100% - 160px)/2);
    bottom: 85px;
    width: 160px;
    padding: 0;
    font-size: 13px;
    line-height: 47px;
    text-align: left;
    background: none;
    border: none;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    transition: 0.3s;
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
    }
}

.personalize-popup {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    width: 200px;
    right: 100%;
    height: 100vh;
    padding: 65px 20px 0 20px;
    background: #fff;

    &-active {
        display: block;
    }
}

.personalize-popup-title {
    text-align: center;
    font-size: 27px;
    font-weight: 500;
}

.personalize-popup-fields-list {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        margin-bottom: 15px;
    }
    input {
        box-sizing: border-box;
        width: 60px;
        border: 3px solid #000;
        outline: none;
    }
}

.personalize-popup-clear-btn {
    display: block;
    width: 100%;
    padding: 0;
    font-size: 13px;
    line-height: 47px;
    text-align: left;
    background: none;
    border: none;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    transition: 0.3s;
    margin: 40px auto 0 auto;
    cursor: pointer;
}

.swag-popup {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100vh;
    min-width: 200px;
    padding: 20px 0px;
    background: #fff;
    overflow: auto;
}

.swag-popup-title {
    text-align: center;
    font-size: 27px;
    font-weight: 500;
}

.swag-popup-active {
    display: block;
    right: 100%;
}

.swag-popup-list {
    display: none;
    margin: 0;
    padding: 0;
}

.swag-popup-list-active {
    display: block;
}

.swag-popup-item {
    list-style: none;
    margin: 0 auto 6px auto;
}

.download-btn {
    display: flex;
    align-items: center;
    width: 160px;
    padding: 5px 0 5px 10px;
    font-size: 13px;
    line-height: 47px;
    text-align: left;
    background: none;
    border: none;
    border-top: 5px solid #000;
    transition: 0.3s;
    cursor: pointer;
    &:last-child {
        border-bottom: 5px solid #000;
    }
}

.auth-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.auth-dialog {
    position: relative;
    width: 500px;
    margin-top: -60px;
    
    .auth-dialog-svg-wrapper {
        text-align: center;
    }
    
    svg {
        width: 420px;
    }

    p {
        margin: -40px 0 30px 0;
        text-align: center;
        letter-spacing: 1px;
    }

    .dialog-controllers {
        display: flex;
        justify-content: center;
        button {
            display: block;
            width: 200px;
            height: 60px;
            background: none;
            border: 2px solid #000;
            transition: 0.6s;
            font-size: 16px;
            letter-spacing: 1px;
            cursor: pointer;

            &:first-child {
                background: #000;
                color: #fff;
                transition: 0.3s;
            }

            &:first-child:hover {
               transform: scale(1.0);
            }

            &:hover {
                background: #000;
                color: #fff;
            }
            &:first-child {
                margin-right: 50px;
            }
        }
    }
}

.video-popup-dialog {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        font-weight: 500;
        text-transform: uppercase;
    }

    .open-video-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: relative;
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 50%;
        background: #e6e6e6;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            background: #000;
        }

        svg {
            margin-left: 15px;
        }
    }

    p {
        color: #aaa;
        font-size: 20px;
        letter-spacing: 1px;
        font-family: 'Pacifico', cursive;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .video-dialog-controllers {
        display: flex;
        margin-top: 30px;
    }
}

.menu-video-btn {
    display: block;
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
    padding: 1px 0px 0 5px;

    &:hover {
        background: #000;
    }

    svg {
        width: 65px;
        height: 65px;
    }
}

.menu-video-btn-wrapper {
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    span {
        text-align: center;
        letter-spacing: 2px;
        margin-right: -35px;
        margin-top: 2px;
    }
}

.video-popup {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: min(-30vw, -500px);
    width: 30vw;
    min-width: 500px;
    height: 100vh;
    background: #fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 0 30px;
    overflow: auto;
    transition: 0.5s;

    &::before {
        content: '';
        position: absolute;
        width: 4px;
        top: 30vh;
        left: 11px;
        height: 40vh;
        background: #ccc;
        border-radius: 3px;
    }

    .video-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 40px;
        padding-left: 30px;
        padding-right: 30px;
        h2 {
            font-family: 'Pacifico', cursive;
            text-transform: uppercase;
            letter-spacing: 5px;
            text-align: left;
            padding-left: 15px;
            font-size: 20px;
            color: #222;
        }

        .video-close-btn {
            width: 45px;
            height: 45px;
            background: none;
            border: none;
            cursor: pointer;
        }

    }

    h3 {
        font-family: 'Pacifico', cursive;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-left: 40px;
        margin-top: 60px;
    }

    ul {
        list-style: decimal;
        margin: 0;
        margin-left: 35px;
    }

    li {
        font-family: 'Pacifico', cursive;
        letter-spacing: 5px;
        font-size: 16px;
        line-height: 60px;
        padding: 0 0 0 20px;
        color: #222;
    }

    .video-wrapper {
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
        margin-bottom: 40px;
    }

    video {
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;
        cursor: pointer;
    }
}

.video-popup-active {
    transform: translate3d(min(-30vw,-500px), 0, 0px);
}